.innerBox {
  height: 199px;
  background-color: var(--darkblue);
  width: inherit;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  color: var(--paleBlue);
}
.innerBox:hover {
  background-color: var(--desaturatedblue);
}
.footerBox {
  height: 45px;
}

.leftBox {
  text-align: left;
  padding-top: 20px;
}
.rightBox {
  text-align: right;
  align-self: flex-start;
  padding-top: 20px;
}

.ctype {
  text-transform: capitalize;
  font-weight: 600;
}

.current {
  font-size: 32px;
}
