.mainBox {
  height: 204px;
  background-color: var(--darkblue);
}

.innerBox {
  height: 133px;
  text-align: left;
  background-color: var(--blue);
}

.footerBox {
  height: 71px;
  color: var(--desaturatedblue);
}

.avatar {
  width: 64px;
  height: 64px;
  border: 4px solid white;
}

.mainBox,
.innerBox {
  width: 327px;
  border-radius: 15px;
}
.innerBox,
.footerBox {
  display: flex;
  align-items: center;
}
